body{
    background-color: cyan;
    margin: auto;
    padding: 0%;
}

h1{
    color: rgb(252, 1, 1);
    text-align: center;
    font-family: 'Courier New', Courier, monospace ;
    font-weight: 100;
    font-style: italic;
}

img {
    width: 300px;  /* Ajusta a largura para 300px */
    height: auto;  /* Ajusta a altura proporcionalmente */
}
